<!DOCTYPE HTML>
<html>
<head>
    <title>HTML body tag</title>
</head>
<body>
<h1><%= title %></h1>

<form method="post" name="adduser" action="/adduser">
    <input id="inputuserName" type="text" placeholder="Your name" name="username">
    <input id="inputuserEmail" type="text" placeholder="Your Email" name="usermail">
    <button id="btnSubmit" type="submit">submit</button>

</form>


</body>
</html>